.Aom{
	width: 500px;
	padding-left: 37%;
}
body{
	background-color: white;
	color: white;
}
.Text{
	text-align: center;
	background-color: black;
	margin-left: 200px;
	margin-right: 200px;
}
